<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Server Node</title>

    <style>
      body{
          background-color: rgb(0, 0, 0)";
      }
      p{
      text-align: center;
      color: rgb(128, 0, 0);
      text-shadow: 1px 2px 10px rgba(185, 5, 5, 0.891);
      margin-top: 30px;
      font-size: 45px;
      }
    </style>
  </head>

  <body>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia laborum
      illo tempore ea porro enim quos, repellat natus iure commodi nam provident
      aliquid odio nulla cupiditate vero, corporis eaque non.
    </p>
    <a href="/"><button>Go to Home</button></a>
  </body>
</html>
