<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Error Page</title>
    <style>
      /* Стили для страницы ошибки */
      body {
        background-color: #f1f1f1;
        font-family: Arial, sans-serif;
      }
      .container {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
        padding-top: 50px;
      }
      h1 {
        font-size: 36px;
        color: #333333;
      }
      p {
        font-size: 18px;
        color: #666666;
        margin-top: 30px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Ошибка</h1>
      <p>
        Произошла ошибка при загрузке страницы. Попробуйте перезагрузить
        страницу или вернуться на главную страницу.
      </p>
      <a href="/">На главную</a>
    </div>
  </body>
</html>
