<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Server Node</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
  </head>

  <body>
    <h1>It's a <span>Home</span> Page</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia laborum
      illo tempore ea porro enim quos, repellat natus iure commodi nam provident
      aliquid odio nulla cupiditate vero, corporis eaque non.
    </p>
    <a href="/about"><button>Go to About</button></a>
  </body>
</html>
